@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h4 class="display-6">Address Book MVC App</h4>
    <p>A simple ASP.NET MVC Application that helps you manage the address information of your contacts!</p>
    <a class="btn btn-primary " asp-area="" asp-controller="Contacts" asp-action="Index">Take Me To The App</a>
    <p><img src="/img/addressmvc.png" class="img-fluid"/></p>
</div>
